
# DMT 2022 - Homework 2


# Homework

The homework consists of two parts:

  1. PageRank

  and

  2. Recommendation System

# Group composition:


D'Erasmo, Giulio, 1859130

PotÃ¬, Andrea, 2008416

# Part 1: PageRank
In this part of the homework, you have to deal with the PageRank algorithm.

## Part 1.0
Import **ALL** the Python packages that you need for Part 1.

In [ ]:
#REMOVE_OUTPUT#
#YOUR CODE STARTS HERE#
!pip install scikit-network
from sknetwork.ranking import PageRank
import numpy as np
import pandas as pd


#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

Requirement already satisfied: scikit-network in /usr/local/lib/python3.7/dist-packages (0.26.0)
Requirement already satisfied: scipy>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from scikit-network) (1.7.3)
Requirement already satisfied: numpy>=1.21.5 in /usr/local/lib/python3.7/dist-packages (from scikit-network) (1.21.6)

## Part 1.1
Using the provided dataset, you must run various PageRank algorithms.
The dataset for this part is an unweighted and undirected graph, where nodes represent characters from the "Harry Potter" books and an edge connects two characters in the graph if their names appeared at least one time within 14 words of one another in at least one of the books.

### 1.1.1
Download the dataset from the Drive link (code already provided).

In [ ]:
#REMOVE_OUTPUT#
!pip install --upgrade --no-cache-dir gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.7.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
#REMOVE_OUTPUT#
!gdown 11Fa9zqDPgDthm3B84My1flWN6r-ffpY0 #download harry_potter_graph1.csv

Downloading...
From: https://drive.google.com/uc?id=11Fa9zqDPgDthm3B84My1flWN6r-ffpY0
To: /content/harry_potter_graph1.csv
100% 11.7k/11.7k [00:00<00:00, 15.1MB/s]

### 1.1.2
Load and inspect the dataset: print the list of field names of the dataset and also the total number of rows.

Print also the first and last row of the dataset.

In [ ]:
#YOUR CODE STARTS HERE#
# import the dataset
Harry_Potter_graph = pd.read_csv('/content/harry_potter_graph1.csv')

# print the dataset field names
dataset_field = list(Harry_Potter_graph.columns) 
nice_print = pd.DataFrame( dataset_field )
nice_print.rename(columns = {0: 'Harry Potter dataset Field names'}, inplace = True)
print(nice_print)
print()

# print of the number of row
print("The number of row of the dataset are: ", Harry_Potter_graph.shape[0])
print()
# print of the first and last row of the dataset
print(f"First row:\n{Harry_Potter_graph.iloc[0]}")
print()
print(f"Last row:\n{Harry_Potter_graph.iloc[-1]}")
#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

  Harry Potter dataset Field names
0                      character_1
1                      character_2

The number of row of the dataset are:  406

First row:
character_1     Katie Bell
character_2    Oliver Wood
Name: 0, dtype: object

Last row:
character_1           Mrs Norris
character_2    Quirinus Quirrell
Name: 405, dtype: object

### 1.1.3
Print the sorted list of all character names (without duplicates) in ascending alphabetical order.

Print also the length of this list.

In [ ]:
#YOUR CODE STARTS HERE#
# Flatten the dataset and take the unique value
character_names_list = sorted(pd.unique(Harry_Potter_graph.to_numpy().flatten()))
print("List of character in the Harry Potter Graph 1:")
for char in character_names_list:
  print(char)
print()
n = len(character_names_list)
print("The total number of character are: ", n)









#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

List of character in the Harry Potter Graph 1:
Adalbert Waffling
Adrian Pucey
Alberic Grunnion
Albus Dumbledore
Algie Longbottom
Alicia Spinnet
Angelina Johnson
Arabella Figg
Argus Filch
Arsenius Jigger
Bane
Bathilda Bagshot
Bertie Bott
Blaise Zabini
Bloody Baron
Boa constrictor at the Zoo
Circe
Cliodna
Cornelius Agrippa
Cornelius Fudge
Cuthbert Binns
Dean Thomas
Dedalus Diggle
Dennis
Doris Crockford
Draco Malfoy
Dudley Dursley
Elfric the Eager
Emeric Switch
Emeric the Evil
Enid (disambiguation)
Fang
Fat Friar
Fat Lady
Filius Flitwick
Firenze
Fluffy
Fred Weasley
Garrick Ollivander
Gellert Grindelwald
George Weasley
Gordon
Gregory Goyle
Gregory the Smarmy
Gringotts Head Goblin
Griphook
Hannah Abbott
Harry Potter
Hedwig
Helena Ravenclaw
Hengist of Woodcroft
Hermione Granger
Irma Pince
James Potter I
Jim McGuffin
Justin Finch-Fletchley
Katie Bell
Keeper of the reptile house
Lavender Brown
Lee Jordan
Lily J. Potter
Lily Moon
Lisa Turpin
Malcolm
Mandy Brocklehurst
Marcus Flint
Merlin
Miles Bletchley
Millicent Bulstrode
Minerva McGonagall
Miranda Goshawk
Morag MacDougal
Mr Paws
Mr Tibbles
Mrs Norris
Neville Longbottom
Newton Scamander
Nicholas de Mimsy-Porpington
Nicolas Flamel
Oliver Wood
Owner of the Railview Hotel
Padma Patil
Pansy Parkinson
Parvati Patil
Peeves
Percy Weasley
Perenelle Flamel
Petunia Dursley
Phyllida Spore
Piers Polkiss
Pomona Sprout
Poppy Pomfrey
Ptolemy
Quentin Trimble
Quirinus Quirrell
Rolanda Hooch
Ronald Weasley
Ronan
Rubeus Hagrid
Sally-Anne Perks
Seamus Finnigan
Severus Snape
Sirius Black
Snowy
Sorting Hat
Susan Bones
Ted
Terence Higgs
Terry Boot
Theodore Nott
Tom
Trevor
Tufty
Unicorn
Uric the Oddball
Vernon Dursley
Vincent Crabbe
Vindictus Viridian
Yvonne

The total number of character are:  119

### 1.1.4
Create the adjacency matrix for the graph, assigning to each character a node identifier equal to the index that the character name has in ascending alphabetical order (remember that the first element of a list in Python has index 0).

In [ ]:
#YOUR CODE STARTS HERE#
# dictiory that map id to character name
map_character_id_character_name = {i: x for i,x in enumerate(character_names_list)}
# reverse of the previous dictionary
map_character_name_character_id = {x: i for i,x in enumerate(character_names_list)}

# construct the Adjancy matrix
adj = pd.crosstab(Harry_Potter_graph.character_1, Harry_Potter_graph.character_2)
idx = character_names_list
adj = adj.reindex(index = idx, columns=idx, fill_value=0)
adj = adj + np.transpose(adj)

adj_of_Harry_Potter_graph = adj.to_numpy()





#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

### 1.1.5
Compute the PageRank vector for the obtained graph using a damping factor of 0.8.

In [ ]:
#YOUR CODE STARTS HERE#
# Set the parameters for the PageRank computation
alpha = 0.2
damping_factor = 1. - alpha

# PageRank
pagerank = PageRank(damping_factor=damping_factor, solver="piteration", 
                    n_iter=1000, tol=10**-6)

# Compute Page-Rank on the entire Harry Potter graph
pagerank_vector = pagerank.fit_transform(adj_of_Harry_Potter_graph)







#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Print the name and the PageRank score of the top-10 characters according to the PageRank score of their associated nodes.

In [ ]:
#YOUR CODE STARTS HERE#
k = 10
ind = np.argpartition(pagerank_vector, -k)[-k:]
ind  = ind[np.argsort(pagerank_vector[ind])][::-1]
top_10 = [(map_character_id_character_name[x], np.round(pagerank_vector[x],6)) for x in ind]

display(pd.DataFrame(top_10, columns = ['Character name', 'Pagerank score']))

#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

       Character name  Pagerank score
0        Harry Potter        0.091486
1      Ronald Weasley        0.037713
2       Rubeus Hagrid        0.034323
3    Hermione Granger        0.029205
4    Albus Dumbledore        0.026936
5        Draco Malfoy        0.022058
6  Neville Longbottom        0.021599
7       Severus Snape        0.021282
8      Dudley Dursley        0.018598
9      Vernon Dursley        0.015355

### 1.1.6
Compute the Topic-specific PageRank vector for the obtained graph using a damping factor of 0.9, by considering as topic the Weasley family: a character belongs to the topic if its name contains the string `Weasley`.

In [ ]:
#YOUR CODE STARTS HERE#
# Set the parameters for the PageRank computation
alpha = 0.1
damping_factor = 1. - alpha

set_of_character_ids_belonging_to_Weasley_family = [pair[0] for pair in map_character_id_character_name.items() if 'Weasley' in pair[1]]

pagerank = PageRank(damping_factor=damping_factor, solver="piteration",
                      n_iter=1000, tol=10 ** -6)
# define the topic as probability distribution over all pages.
topic_as_map__character_id__landing_probability = {}
num_characters_belonging_to_the_topic = len(set_of_character_ids_belonging_to_Weasley_family)
for c_character_id_belonging_to_Weasley_family in set_of_character_ids_belonging_to_Weasley_family:
    topic_as_map__character_id__landing_probability[c_character_id_belonging_to_Weasley_family] = 1. / num_characters_belonging_to_the_topic

# Compute Page-Rank on the entire WIKIPEDIA graph
pagerank_vector = pagerank.fit_transform(adj_of_Harry_Potter_graph,
                                        seeds=topic_as_map__character_id__landing_probability)
#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Print the name and the PageRank score of the top-20 characters according to the Topic-specific PageRank score of their associated nodes.

In [ ]:
#YOUR CODE STARTS HERE#
k = 20
ind = np.argpartition(pagerank_vector, -k)[-k:]
ind  = ind[np.argsort(pagerank_vector[ind])][::-1]
top_20 = [(map_character_id_character_name[x], np.round(pagerank_vector[x],6)) for x in ind]

display(pd.DataFrame(top_20, columns = ['Character name', 'Pagerank score']))

#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

        Character name  Pagerank score
0         Harry Potter        0.086388
1       Ronald Weasley        0.075632
2         Fred Weasley        0.048802
3        Percy Weasley        0.048195
4       George Weasley        0.044858
5        Rubeus Hagrid        0.041669
6     Hermione Granger        0.040929
7        Severus Snape        0.031772
8     Albus Dumbledore        0.030667
9   Neville Longbottom        0.028557
10        Draco Malfoy        0.028119
11         Argus Filch        0.018016
12   Quirinus Quirrell        0.017652
13     Filius Flitwick        0.016014
14       Rolanda Hooch        0.015329
15         Oliver Wood        0.013815
16       Poppy Pomfrey        0.013284
17              Peeves        0.013125
18      Vernon Dursley        0.012436
19     Seamus Finnigan        0.012068

### 1.1.7
Compute the Personalized PageRank vector for the obtained graph using a damping factor of 0.1 for each of the *Hogwarts professors*: Albus Dumbledore, Filius Flitwick, Firenze, Minerva McGonagall, Pomona Sprout, Quirinus Quirrell, Rolanda Hooch, Severus Snape.

In [ ]:
#YOUR CODE STARTS HERE#
# Set the parameters for the PageRank computation
alpha = 0.9
damping_factor = 1. - alpha

Professors = ['Albus Dumbledore', 'Filius Flitwick', 'Firenze', 'Minerva McGonagall', 
              'Pomona Sprout', 'Quirinus Quirrell', 'Rolanda Hooch', 'Severus Snape']
pagerank_vectors = []

for professor in Professors:
  professor_id = map_character_name_character_id[professor]
  # personalize PageRank
  pagerank = PageRank(damping_factor=damping_factor, solver="piteration", 
                    n_iter=1000, tol=10 ** -6)
  # define the topic as probability distribution over all pages.
  map__character_id__landing_probability = {}
  map__character_id__landing_probability[professor_id] = 1.
  # Compute Page-Rank on the entire Harry Potter Graph 1
  pagerank_vector = pagerank.fit_transform(adj_of_Harry_Potter_graph,
                                        seeds=map__character_id__landing_probability)
  pagerank_vectors.append(pagerank_vector)







#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

For each of the *Hogwarts professors*, print the name and the PageRank score of the top-3 characters according to the Personalized PageRank score of their associated nodes.

In [ ]:
#YOUR CODE STARTS HERE#
k = 3
top_3_at_Professors = []

for i in range(len(Professors)):
  # fix the pagerank vector
  pagerank_vector = pagerank_vectors[i]
  ind = np.argpartition(pagerank_vector, -k)[-k:]
  ind  = ind[np.argsort(pagerank_vector[ind])][::-1]
  top_3_at_Professors.append(
      [(map_character_id_character_name[x], np.round(pagerank_vector[x],6)) for x in ind]
  )

for i,prof in enumerate(Professors):
  print("Pagerank for Professor", prof)
  print()
  display(pd.DataFrame(top_3_at_Professors[i], columns = ['Character name', 'Pagerank score']))
  print("-----------------------------")
#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Pagerank for Professor Albus Dumbledore

     Character name  Pagerank score
0  Albus Dumbledore        0.901642
1      Harry Potter        0.004358
2     Rubeus Hagrid        0.004001

-----------------------------
Pagerank for Professor Filius Flitwick

    Character name  Pagerank score
0  Filius Flitwick        0.901252
1     Harry Potter        0.007522
2    Rubeus Hagrid        0.007391

-----------------------------
Pagerank for Professor Firenze

  Character name  Pagerank score
0        Firenze        0.900713
1   Harry Potter        0.018797
2  Rubeus Hagrid        0.018729

-----------------------------
Pagerank for Professor Minerva McGonagall

       Character name  Pagerank score
0  Minerva McGonagall        0.900109
1        Harry Potter        0.090238
2      Ronald Weasley        0.000176

-----------------------------
Pagerank for Professor Pomona Sprout

  Character name  Pagerank score
0  Pomona Sprout        0.900492
1   Harry Potter        0.023082
2  Rubeus Hagrid        0.023003

-----------------------------
Pagerank for Professor Quirinus Quirrell

      Character name  Pagerank score
0  Quirinus Quirrell        0.901369
1       Harry Potter        0.006840
2      Rubeus Hagrid        0.006705

-----------------------------
Pagerank for Professor Rolanda Hooch

  Character name  Pagerank score
0  Rolanda Hooch        0.900798
1   Harry Potter        0.009644
2   Marcus Flint        0.009447

-----------------------------
Pagerank for Professor Severus Snape

   Character name  Pagerank score
0   Severus Snape        0.900914
1    Harry Potter        0.004711
2  Ronald Weasley        0.004469

-----------------------------

### 1.1.8
Compute Topic-specific PageRank for the obtained graph using a damping factor of 0.1. Imagine you are in an **online** context.

The Topic is the Hogwarts professors (list of characters define in step 1.1.7)

In [ ]:
#YOUR CODE STARTS HERE#
list__map__character_id__PersonalizedPageRank_score = []
for pagerank_vector in pagerank_vectors:
  list__map__character_id__PersonalizedPageRank_score.append({i: x for i,x in enumerate(pagerank_vector)})

aggregated_map__character_id__PersonalizedPageRank_score = {}
n = len(list__map__character_id__PersonalizedPageRank_score)
for map__character_id__PersonalizedPageRank_score in list__map__character_id__PersonalizedPageRank_score:
    for character_id, PersonalizedPageRank_score in map__character_id__PersonalizedPageRank_score.items():
        if character_id not in aggregated_map__character_id__PersonalizedPageRank_score:
            aggregated_map__character_id__PersonalizedPageRank_score[character_id] = 0.
        aggregated_map__character_id__PersonalizedPageRank_score[character_id] += PersonalizedPageRank_score / n

list__aggregated_map__character_id__PersonalizedPageRank_score = list(
    aggregated_map__character_id__PersonalizedPageRank_score.items())



#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Print the name and the PageRank score of the top-10 characters according to the Topic-specific PageRank score of their associated nodes.

In [ ]:
#YOUR CODE STARTS HERE#
k = 10
Aggregate_PageRank_score = np.array([x[1] for x in list__aggregated_map__character_id__PersonalizedPageRank_score])
ind = np.argpartition(Aggregate_PageRank_score, -k)[-k:]
ind  = ind[np.argsort(Aggregate_PageRank_score[ind])][::-1]
top_10 = [(map_character_id_character_name[x], 
           np.round(Aggregate_PageRank_score[x],6)) for x in ind]
display(pd.DataFrame(top_10, columns = ['Character name', 'Pagerank score']))
#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

       Character name  Pagerank score
0    Albus Dumbledore        0.116429
1     Filius Flitwick        0.116061
2       Severus Snape        0.114937
3   Quirinus Quirrell        0.113734
4       Pomona Sprout        0.113486
5             Firenze        0.113058
6       Rolanda Hooch        0.112675
7  Minerva McGonagall        0.112525
8        Harry Potter        0.020649
9       Rubeus Hagrid        0.008062

## Part 1.2

### 1.2.1
**Question 1:**
Define in an explicit way the adjacency matrix of a graph where the node with the highest PageRank (damping factor = 0.8) is not the one with the highest inDegree.

The graph must be directed, unweighted, composed by exactly one connected component, and with no more than 12 nodes.

Rank all the nodes in the graph according to the PageRank score of each node: from the most important to the least important. Print this rank.

Rank all the nodes in the graph according to the inDegree score of each node: from the most important to the least important. Print this rank.

On another line, print the identifier of the node with the highest inDegree score and the identifier of the node with the highest PageRank score.

In [ ]:
#YOUR CODE STARTS HERE#
Explicit_Adj = [[0,0,0,0,0,1],[1,0,1,0,0,1],[1,1,0,0,0,0],[1,0,1,0,1,0],[1,0,0,1,0,1],[1,1,0,0,1,0]]
Adj_mat = np.array(Explicit_Adj)
in_degree_vector = np.sum(Adj_mat, axis = 0)

# dumping factor = 0.8
alpha = 0.2
damping_factor = 1. - alpha

# PageRank
pagerank = PageRank(damping_factor=damping_factor, solver="piteration", 
                    n_iter=1000, tol=10**-6)

# Compute Page-Rank on the entire Harry Potter graph
pagerank_vector = pagerank.fit_transform(Adj_mat)

map_id_pagerank_score = [ (i, x) for i,x in enumerate(pagerank_vector) ]
map_id_inDegree  = [ (i, x) for i,x in enumerate(in_degree_vector)] 

ranked_according_to_pagerank_scores = sorted(map_id_pagerank_score, key=lambda x: x[1], reverse = True)
ranked_according_to_inDegree_scores = sorted(map_id_inDegree, key=lambda x: x[1], reverse = True)

print("Rank all the nodes in the graph according to the PageRank score:")
display(pd.DataFrame(ranked_according_to_pagerank_scores, columns = ['ID','PageRank Score']))
print("Rank all the nodes in the graph according to the inDegree score:")
display(pd.DataFrame(ranked_according_to_inDegree_scores, columns = ['ID','inDegree Score']))
print(f"ID of highest inDegree score: {ranked_according_to_pagerank_scores[0][0]}")
print(f"ID of highest PageRank score: {ranked_according_to_inDegree_scores[0][0]}")
#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

Rank all the nodes in the graph according to the PageRank score:

   ID  PageRank Score
0   5        0.306719
1   0        0.246553
2   1        0.152028
3   4        0.133508
4   2        0.092257
5   3        0.068935

Rank all the nodes in the graph according to the inDegree score:

   ID  inDegree Score
0   0               5
1   5               3
2   1               2
3   2               2
4   4               2
5   3               1

ID of highest inDegree score: 5
ID of highest PageRank score: 0

### 1.2.2
**Question 2:**
Given a graph with `n` nodes, what is the Topic-specific PageRank vector that is obtained when running the Topic-specific PageRank algorithm with damping factor `0`? Is the result dependent on graph topology? **Use at most 3 sentences.**

----------YOUR TEXT STARTS HERE----------

The Pagerank matrix $P = (1-\alpha)P^{RW} + \alpha U$ where $P^{RW}$ contain the information about the topology of the graph (infact is $A_{i,j}/(\#1s \text{ in line i})$, with $A$ the adjacency matrix), so if the dumping factor is zero, the alpha value is 1, erasing the dependency from the graph topology.

If we want to bias toward a Topic, let $S$ the set of document belonging to the specific topic, $N$ the number of nodes and U the matrix such that $U_{i,j} = 1/|S|$ if $i \in S$ or $U_{i,j} = 0$ otherwise.

Then $P^{RW} = U$ and the $j$-th element of the pagerank vector is: $(ÏP^{PR})_j = \frac{1}{|S|}\sum_{i = 1}^N Ï_i = \frac{1}{|S|} \cdot 1:= \pi_j$ for all j $\in S$ and $\pi_j = 0$ otherwise.

# Part 2: Recommendation System
In this part of the homework, you have to improve the performance of various recommendation-systems by using non-trivial algorithms and also by performing the tuning of the hyper-parameters.

## Part 2.0
Import here **ALL** the Python packages that you need for Part 2.

In [ ]:
#REMOVE_OUTPUT#
#YOUR CODE STARTS HERE#
!pip install scikit-surprise
from surprise import Dataset, Reader 
from surprise.model_selection import KFold, cross_validate, GridSearchCV, RandomizedSearchCV
import pandas as pd; import numpy as np; from itertools import product
import surprise.prediction_algorithms as pa
import multiprocessing ; from scipy.stats import randint
#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

Requirement already satisfied: scikit-surprise in /usr/local/lib/python3.7/dist-packages (1.1.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.7.3)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)

## Part 2.1
Apply **all** algorithms for recommendation made available by âSurpriseâ libraries on the provided dataset **with their default configuration**, and use **ALL** CPU-cores available on the remote machine by specifying the value in an **explicit** way with an integer number.

### 2.1.1
Download the dataset from the Drive link (code already provided).

In [ ]:
#REMOVE_OUTPUT#
!pip install --upgrade --no-cache-dir gdown

Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.7.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)

In [ ]:
#REMOVE_OUTPUT#
!gdown 1MKE_PY0v30CP_rs3sNzwkmo6QvKAVn_J #download ratings_hw2.csv

Downloading...
From: https://drive.google.com/uc?id=1MKE_PY0v30CP_rs3sNzwkmo6QvKAVn_J
To: /content/ratings_hw2.csv
100% 1.23M/1.23M [00:00<00:00, 112MB/s]

### 2.1.2
Load and inspect the dataset: 
1. Print the list of fields names.
2. For each field, print the minimum and maximum values.
3. Print also the value of the first and last row of the dataset.

In [ ]:
#YOUR CODE STARTS HERE#
# import the dataset
ratings_dataset = pd.read_csv('/content/ratings_hw2.csv')
# print the dataset field names
dataset_fields = list(ratings_dataset.columns) 
nice_print = pd.DataFrame( dataset_fields )
nice_print.rename(columns = {0: 'Ratings dataset Field names'}, inplace = True)
print(nice_print)
print()
# print of the number of row
for field in dataset_fields:
  print(f"For <{field}> field: ")
  print(f"Min value: {ratings_dataset[field].min()}", f"Max value: {ratings_dataset[field].max()}", sep = '\n')
# print of the first and last row of the dataset
print()
print(f"First row:\n{ratings_dataset.iloc[0]}")
print()
print(f"Last row:\n{ratings_dataset.iloc[-1]}")
#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

  Ratings dataset Field names
0                     User_ID
1                     Item_ID
2                      Rating

For <User_ID> field:
Min value: 1
Max value: 943
For <Item_ID> field:
Min value: 1
Max value: 1682
For <Rating> field:
Min value: 3.0
Max value: 5.0

First row:
User_ID    276.0
Item_ID    559.0
Rating       4.5
Name: 0, dtype: float64

Last row:
User_ID    758.0
Item_ID    319.0
Rating       4.5
Name: 96368, dtype: float64

### 2.1.3
Load the dataset into the appropriate scikit-surprise structure.

In [ ]:
#YOUR CODE STARTS HERE#
file_path = '/content/ratings_hw2.csv'
reader = Reader(line_format='user item rating', sep=',', rating_scale=[3, 5], skip_lines=1)
data = Dataset.load_from_file(file_path, reader=reader)




#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

### 2.1.4
Initialize a `scikit-surprise` `KFold` object with 5-folds. Set the random_state to **42**.

In [ ]:
#YOUR CODE STARTS HERE#
kf = KFold(n_splits=5, random_state=42)






#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

### 2.1.5
Define **all** the algorithms you are going to use

In [ ]:
#YOUR CODE STARTS HERE#
# Basic algorithms
NormalPredictor = pa.random_pred.NormalPredictor
BaselineOnly = pa.baseline_only.BaselineOnly
# k-NN inspired algorithms
KNNBasic = pa.knns.KNNBasic
KNNWithMeans = pa.knns.KNNWithMeans
KNNWithZScore = pa.knns.KNNWithZScore
KNNBaseline = pa.knns.KNNBaseline
# Matrix Factorization-based algorithms
SVD = pa.matrix_factorization.SVD
SVDpp = pa.matrix_factorization.SVDpp
NMF = pa.matrix_factorization.NMF
# Slope One
SlopeOne = pa.slope_one.SlopeOne
# Co-clustering
CoClustering = pa.co_clustering.CoClustering

#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

### 2.1.6
Define the parameter configurations for each selected algorithm.

In [ ]:
#YOUR CODE STARTS HERE#
# BaselineOnly algorithm
baseline_predictor_options = {   
  'method': "sgd", 
  'learning_rate': 0.005,  
  'n_epochs': 50,  
  'reg': 0.02,  
}
# k-NN inspired algorithms 
MAXIMUM_number_of_neighbors_to_consider = 40 
min_number_of_neighbors_to_consider = 1  
similarity_options = {
   'name': "cosine",  
   'user_based': True,  
   'min_support': 3, 
}
# Matrix Factorization-based algorithms 
# N.B SVD, SVD++, NMF have different default parameters
number_of_factors = [100,20,15] 
number_of_epochs = [20,20,50]
use_together_with_baseline_estimator = [True,False]  
learning_rate = [.005, .007]  
lambda_parameter = [.02, 0.06] 
# Co-clustering
number_of_cluster = 3
number_of_item_cluster = 3


#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

### 2.1.7
Print the number of CPU cores belonging to the machine on which Colab is running.

In [ ]:
#YOUR CODE STARTS HERE#
import multiprocessing

# Count the number of cores in a computer
cores = multiprocessing.cpu_count() 
print("The number of CPU cores are:", cores)


#YOUR CODE ENDS HERE#
#THIS IS LINE 10#

The number of CPU cores are: 2

Run a **5-Folds**-cross-validation for all the selected algorithms, using the parameters configuration that you selected for each algorithm.
Make sure that the cross-validation gives in output the metric measures for each split, as well as fit and test times.

In [ ]:
#YOUR CODE STARTS HERE#
NormalPredictor = NormalPredictor()
BaselineOnly = BaselineOnly(bsl_options=baseline_predictor_options)
KNNBasic = KNNBasic(k=MAXIMUM_number_of_neighbors_to_consider, min_k=min_number_of_neighbors_to_consider, sim_options=similarity_options)
KNNWithMeans = KNNWithMeans(k=MAXIMUM_number_of_neighbors_to_consider, min_k=min_number_of_neighbors_to_consider, sim_options=similarity_options)
KNNWithZScore = KNNWithZScore(k=MAXIMUM_number_of_neighbors_to_consider, min_k=min_number_of_neighbors_to_consider, sim_options=similarity_options)
KNNBaseline = KNNBaseline(k=MAXIMUM_number_of_neighbors_to_consider, min_k=min_number_of_neighbors_to_consider, sim_options=similarity_options, bsl_options = baseline_predictor_options)
SVD = SVD(n_factors=number_of_factors[0],biased=use_together_with_baseline_estimator[0],n_epochs=number_of_epochs[0],lr_all=learning_rate[0],reg_all=lambda_parameter[0])
SVDpp = SVDpp(n_factors=number_of_factors[1],n_epochs=number_of_epochs[1],lr_all=learning_rate[1],reg_all=lambda_parameter[1])
NMF = NMF(n_factors=number_of_factors[2],n_epochs=number_of_epochs[2],biased=use_together_with_baseline_estimator[1], reg_pu = lambda_parameter[1], reg_qi = lambda_parameter[1])
SlopeOne = SlopeOne()
CoClustering = CoClustering(n_cltr_u = number_of_cluster, n_cltr_i = number_of_item_cluster, n_epochs = number_of_epochs[0])
# vectors of the methods
algorithms = [NormalPredictor,BaselineOnly,KNNBasic,KNNWithMeans,KNNWithZScore,KNNBaseline,SVD,SVDpp,NMF,SlopeOne,CoClustering]
cross_validate_at_algorithm = []
# run the cross validation
for current_algo in algorithms: 
  cross_validate_at_algorithm.append(cross_validate(current_algo, data, measures=['RMSE','MAE'], cv=kf, n_jobs = cores, verbose=True))
#YOUR CODE ENDS HERE#
#THIS IS LINE 20#

Evaluating RMSE, MAE of algorithm NormalPredictor on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.7593  0.7595  0.7613  0.7590  0.7541  0.7586  0.0024
MAE (testset)     0.6102  0.6088  0.6123  0.6097  0.6038  0.6089  0.0028
Fit time          0.26    0.22    0.27    0.27    0.13    0.23    0.05
Test time         0.54    0.64    0.48    0.64    0.31    0.52    0.12
Evaluating RMSE, MAE of algorithm BaselineOnly on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.4719  0.4730  0.4680  0.4681  0.4714  0.4705  0.0021
MAE (testset)     0.3731  0.3734  0.3692  0.3696  0.3721  0.3715  0.0017
Fit time          0.75    0.73    0.74    0.72    0.40    0.67    0.13
Test time         0.19    0.17    0.18    0.17    0.12    0.16    0.02
Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.5093  0.5125  0.5053  0.5075  0.5086  0.5086  0.0024
MAE (testset)     0.4040  0.4059  0.3986  0.4007  0.4021  0.4022  0.0025
Fit time          1.23    2.06    2.29    2.00    1.22    1.76    0.45
Test time         5.53    6.31    5.78    4.76    3.32    5.14    1.04
Evaluating RMSE, MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.4784  0.4793  0.4737  0.4747  0.4783  0.4769  0.0023
MAE (testset)     0.3779  0.3782  0.3732  0.3739  0.3767  0.3760  0.0020
Fit time          1.43    2.05    2.42    1.92    1.24    1.81    0.43
Test time         5.95    6.40    6.38    5.03    3.23    5.40    1.19
Evaluating RMSE, MAE of algorithm KNNWithZScore on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.4783  0.4786  0.4736  0.4742  0.4779  0.4765  0.0022
MAE (testset)     0.3760  0.3759  0.3719  0.3721  0.3748  0.3741  0.0018
Fit time          1.47    2.56    2.09    2.28    1.33    1.94    0.47
Test time         5.99    6.65    6.74    5.32    3.40    5.62    1.22
Evaluating RMSE, MAE of algorithm KNNBaseline on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.4674  0.4690  0.4636  0.4638  0.4678  0.4663  0.0022
MAE (testset)     0.3682  0.3692  0.3644  0.3646  0.3677  0.3668  0.0020
Fit time          1.92    2.91    3.16    2.55    2.12    2.53    0.46
Test time         6.62    7.39    6.96    5.56    3.42    5.99    1.42
Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.4767  0.4780  0.4734  0.4735  0.4769  0.4757  0.0019
MAE (testset)     0.3773  0.3782  0.3741  0.3751  0.3768  0.3763  0.0015
Fit time          9.84    10.13   10.53   9.83    5.97    9.26    1.67
Test time         0.33    0.47    0.27    0.24    0.17    0.30    0.10
Evaluating RMSE, MAE of algorithm SVDpp on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.4722  0.4733  0.4684  0.4688  0.4714  0.4708  0.0019
MAE (testset)     0.3745  0.3745  0.3706  0.3713  0.3730  0.3728  0.0016
Fit time          308.15  308.15  309.07  307.74  150.55  276.73  63.09
Test time         5.03    6.34    5.06    5.01    2.56    4.80    1.23
Evaluating RMSE, MAE of algorithm NMF on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.5073  0.5074  0.4987  0.5018  0.5047  0.5040  0.0033
MAE (testset)     0.4079  0.4077  0.3996  0.4034  0.4053  0.4048  0.0030
Fit time          9.79    10.04   10.80   9.20    5.38    9.04    1.90
Test time         0.24    0.48    0.23    0.23    0.14    0.26    0.11
Evaluating RMSE, MAE of algorithm SlopeOne on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.4758  0.4771  0.4727  0.4719  0.4758  0.4747  0.0020
MAE (testset)     0.3742  0.3751  0.3708  0.3704  0.3733  0.3728  0.0019
Fit time          1.14    1.68    1.71    1.89    1.04    1.49    0.34
Test time         4.61    4.79    4.60    3.68    2.16    3.97    0.98
Evaluating RMSE, MAE of algorithm CoClustering on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.5431  0.5405  0.5358  0.5379  0.5469  0.5408  0.0039
MAE (testset)     0.4419  0.4383  0.4343  0.4369  0.4430  0.4389  0.0032
Fit time          1.40    1.41    1.51    1.43    0.84    1.32    0.24
Test time         0.19    0.18    0.20    0.18    0.13    0.18    0.03

### 2.1.8
Rank all recommendation algorithms you tested according to the mean of the Mean Absolute Error metric value: from the best to the worst algorithm.

In [ ]:
#YOUR CODE STARTS HERE#
# collect the model name
name_algorithms = ['NormalPredictor','BaselineOnly','KNNBasic','KNNWithMeans','KNNWithZScore',
              'KNNBaseline','SVD','SVDpp','NMF','SlopeOne','CoClustering']
# collect the Mean Absolute Error
MAE_scores = [ sum(x['test_mae'])/len(x['test_mae']) for x in cross_validate_at_algorithm ]
# rank the method based on the MAE score
Algorithm_and_score = [ (name_algorithms[i],round(x,4)) for i,x in enumerate(MAE_scores)]
ranked_best_to_worst_according_to_MAE_scores = sorted(Algorithm_and_score, key=lambda x: x[1])

# display the ranked
display(pd.DataFrame(ranked_best_to_worst_according_to_MAE_scores, columns = ['Algorithm', 'MAE']))
















#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

          Algorithm     MAE
0       KNNBaseline  0.3668
1      BaselineOnly  0.3715
2             SVDpp  0.3728
3          SlopeOne  0.3728
4     KNNWithZScore  0.3741
5      KNNWithMeans  0.3760
6               SVD  0.3763
7          KNNBasic  0.4022
8               NMF  0.4048
9      CoClustering  0.4389
10  NormalPredictor  0.6089

## Part 2.2

You will be given several scenarios and different requirements for each of them. By respecting the requirements, you will have to:
1. Setup and print a suitable parameter configurations list;
2. Perform an optimization process to find the best configuration of parameters and print it
3. Use the same dataset as in part 1.1.

### 2.2.1
**Question 1:**
The company A-DMT wants to check **23** possible configurations for the `SVD` recommendation algorithm. The number of parameters specified for the various configurations must be at least 2 and no more than 5.

The company wants to obtain the best configuration among all the 23 configurations, considering the Root Mean Squared Error metric calculated on a cross-validation of **3** folds.

1. Define and print the configurations' dictionary that will be used for the parameter optimization.
2. Find an `SVD` model configuration that offers the best possible performance within the constraints provided by the company. Print this configuration.

The resulting solution must outperform the default `SVD` configuration according to the Mean Absolute Error metric.

In [ ]:
#YOUR CODE STARTS HERE#
grid_of_parameters = {
   'n_epochs' : [80,100,120],
   'n_factors': [20,30,50], 
   'lr_all': [0.002, 0.007, 0.009],
   'biased': [False, True],  
   'reg_all': [0.02,0.06] 
}
print(f"\nThe configurations' dictionary is:\n{grid_of_parameters}\n") 
# KFold
kf = KFold(n_splits=3, random_state=42)
# Number of configuration
n_conf = 23
SVD = pa.matrix_factorization.SVD
rs = RandomizedSearchCV(SVD, param_distributions=grid_of_parameters, n_iter=n_conf,
                        measures=['rmse'], cv=kf, n_jobs=cores, joblib_verbose=10)
rs.fit(data)
best_algo_cv = cross_validate(rs.best_estimator['rmse'], data, measures=['MAE'], cv=kf, n_jobs = cores, verbose=True)
# combination of parameters that gave the best RMSE score
print()
print("BEST_PARAMETERS: ")
print(rs.best_params['rmse'])
print()
# display the result
match_df = pd.DataFrame([('SVD_basic_configuration', Algorithm_and_score[6][1]), 
                         ('SVD_GS_configuration', sum(best_algo_cv['test_mae'])/len(best_algo_cv['test_mae']))], 
                        columns = ['SVD', 'MAE'])
display(match_df)
#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

The configurations' dictionary is:
{'n_epochs': [80, 100, 120], 'n_factors': [20, 30, 50], 'lr_all': [0.002, 0.007, 0.009], 'biased': [False, True], 'reg_all': [0.02, 0.06]}

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:   20.1s
[Parallel(n_jobs=2)]: Done   4 tasks      | elapsed:   40.7s
[Parallel(n_jobs=2)]: Done   9 tasks      | elapsed:  1.5min
[Parallel(n_jobs=2)]: Done  14 tasks      | elapsed:  2.2min
[Parallel(n_jobs=2)]: Done  21 tasks      | elapsed:  3.4min
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  4.6min
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:  6.2min
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:  8.1min
[Parallel(n_jobs=2)]: Done  57 tasks      | elapsed:  9.7min
[Parallel(n_jobs=2)]: Done  69 out of  69 | elapsed: 12.0min finished

Evaluating MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
MAE (testset)     0.3642  0.3636  0.3629  0.3635  0.0005
Fit time          26.51   26.77   13.90   22.39   6.01
Test time         0.38    0.41    0.23    0.34    0.08

BEST_PARAMETERS:
{'n_epochs': 120, 'n_factors': 50, 'lr_all': 0.009, 'biased': True, 'reg_all': 0.06}

                       SVD       MAE
0  SVD_basic_configuration  0.376300
1     SVD_GS_configuration  0.363546

### 2.2.2
**Question 2:**
The company B-DMT wants to receive a set of possible configurations for `KNNBaseline` recommendation algorithm. The number of configurations must be more than 8 and not more than 36, the number of parameters for each configuration must be exactly 3, and the number of values for each parameter must be between 2 and 6.

The company wants to get the best configuration among all configurations, considering the Mean Squared Error metric calculated on a cross-validation of **5** folds.

1. Print the number of chosen configurations.
2. Define and print the configurations' dictionary with the sets of values for each parameter whose cartesian product gives the chosen configurations.
3. Find a `KNNBaseline` model configuration that offers the best possible performance within the constraints provided by the company. Print this configuration.

The resulting solution must outperform the default `KNNBaseline` configuration according to the Mean Absolute Error metric.

In [ ]:
#YOUR CODE STARTS HERE#
# Parameter configuration
grid_of_parameters = {
   'k': [30, 40, 50],        
   'min_k': [1, 3, 5],           
   'sim_options': {                  
       'name': ['pearson_baseline', 'cosine']}}
# Number of choosen configuration
parameter = [grid_of_parameters['k'],grid_of_parameters['min_k'], grid_of_parameters['sim_options']['name']]
print("The number of configuration are:", len([x for x in product(*parameter)]))
print(f"\nThe configurations' dictionary is:\n{grid_of_parameters}\n") 
# KFold + GridSearch
kf = KFold(n_splits=5, random_state=42)
KNNBaseline = pa.knns.KNNBaseline
gs = GridSearchCV(KNNBaseline, param_grid=grid_of_parameters,measures=['mse'],
                 cv=kf, n_jobs=2, joblib_verbose=10)
gs.fit(data)
best_algo_cv = cross_validate(gs.best_estimator['mse'], data, measures=['MAE'], cv=kf, n_jobs = cores, verbose=True)
# combination of parameters that gave the best RMSE score
print("\nBEST_PARAMETERS: ")
print(gs.best_params['mse'])
print()
# display the result
match_df = pd.DataFrame([('KNNBASELINE_basic_configuration', Algorithm_and_score[5][1]), 
                         ('KNNBASELINE_GS_configuration', sum(best_algo_cv['test_mae'])/len(best_algo_cv['test_mae']))], 
                        columns = ['KNNBASELINE', 'MAE'])
display(match_df)

#YOUR CODE ENDS HERE#
#THIS IS LINE 30#

The number of configuration are: 18

The configurations' dictionary is:
{'k': [30, 40, 50], 'min_k': [1, 3, 5], 'sim_options': {'name': ['pearson_baseline', 'cosine']}}

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   1 tasks      | elapsed:    9.0s
[Parallel(n_jobs=2)]: Done   4 tasks      | elapsed:   21.9s
[Parallel(n_jobs=2)]: Done   9 tasks      | elapsed:   44.8s
[Parallel(n_jobs=2)]: Done  14 tasks      | elapsed:  1.1min
[Parallel(n_jobs=2)]: Done  21 tasks      | elapsed:  1.6min
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  2.2min
[Parallel(n_jobs=2)]: Done  37 tasks      | elapsed:  2.9min
[Parallel(n_jobs=2)]: Done  46 tasks      | elapsed:  3.6min
[Parallel(n_jobs=2)]: Done  57 tasks      | elapsed:  4.4min
[Parallel(n_jobs=2)]: Done  68 tasks      | elapsed:  5.3min
[Parallel(n_jobs=2)]: Done  81 tasks      | elapsed:  6.4min
[Parallel(n_jobs=2)]: Done  90 out of  90 | elapsed:  7.1min finished

Evaluating MAE of algorithm KNNBaseline on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
MAE (testset)     0.3617  0.3630  0.3586  0.3589  0.3619  0.3608  0.0017
Fit time          1.67    2.21    2.15    2.52    1.40    1.99    0.40
Test time         6.32    7.04    6.81    5.43    3.65    5.85    1.23

BEST_PARAMETERS:
{'k': 40, 'min_k': 5, 'sim_options': {'name': 'pearson_baseline', 'user_based': True}}

                       KNNBASELINE       MAE
0  KNNBASELINE_basic_configuration  0.366800
1     KNNBASELINE_GS_configuration  0.360821